<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <appSettings>
    <add key="OpenWith" value="Notepad>Notepad.exe" />
    <add key="TextViewer" value="Notepad.exe" />
    <add key="BinaryViewer" value="" />
    <add key="GotoFavorites" value="Windows Folder>C:\Windows|System Folder>C:\Windows\System32" />
    <add key="CustomTools" value="&amp;Task Manager>TaskMgr.exe|&amp;Resource Monitor>ResMon.exe" />
  </appSettings>
</configuration>