<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <appSettings>
    <!-- The interval (in milliseconds) the FileSystemWatcher timer uses for updating the file list in the UI. -->
    <add key="FileSystemWatcherTimerInterval" value="500"/>
    <!-- The amount of time (in milliseconds) to wait while performing an operation before the ProgressWindow is shown. -->
    <add key="ProgressWindowWaitTime" value="900"/>
    <!-- Available file icons are:           -->
    <!-- 0001 File                           -->
    <!-- 0002 Archive                        -->
    <!-- 0003 Library                        -->
    <!-- 0004 Program                        -->
    <!-- 0005 Audio                          -->
    <!-- 0006 Image                          -->
    <!-- 0007 Video                          -->
    <!-- 0008 Text                           -->
    <!-- 0009 Illustration                   -->
    <!-- 0010 Spreadsheet                    -->
    <!-- 0011 Presentation                   -->
    <!-- 0012 Web                            -->
    <!-- 0013 Code                           -->
    <!-- 0014 Book                           -->
    <!-- 0015 Portable Document Format (PDF) -->
    <add key="FileIcons" value=".3g2>7|.3gp>5|.7z>2|.aac>5|.ai>6|.aiff>5|.alac>5|.amr>5|.ape>5|.apk>4|.app>4|.arj>2|.asf>7|.avchd>7|.avi>7|.bat>3|.bmp>6|.bz2>2|.cab>2|.cmd>3|.com>4|.cr2>6|.crw>6|.csv>10|.dll>3|.dng>6|.doc>9|.docx>9|.eps>6|.epub>14|.exe>4|.flac>5|.flv>7|.gif>6|.gz>2|.heic>6|.heif>6|.htm>12|.html>12|.ico>6|.iso>2|.jfif>6|.jpe>6|.jpeg>6|.jpg>6|.lib>3|.lit>14|.log>8|.m2ts>7|.m4a>5|.m4b>5|.m4p>5|.m4v>7|.md>8|.mid>5|.midi>5|.mobi>14|.mkv>7|.mov>7|.mp1>5|.mp2>5|.mp3>5|.mp4>7|.mpc>5|.mpeg>7|.mpg>7|.msi>4|.nef>6|.ocx>3|.oga>5|.ogg>5|.ogv>7|.opus>5|.orf>6|.pdf>15|.png>6|.ppt>11|.pptx>11|.ps1>3|.psd>6|.rar>2|.raw>6|.svg>6|.swf>7|.tar>2|.tgz>2|.tif>6|.tiff>6|.tsv>10|.txt>8|.url>12|.wav>5|.webm>7|.webp>6|.wma>5|.wmv>7|.xls>10|.xlsx>10|.xz>2|.zip>2" />
    <!-- Define the "Open With..." menu items. -->
    <add key="OpenWith" value="Notepad>C:\Windows\System32\Notepad.exe>Ctrl+F1" />
    <!-- Choose the program associated with the "View as Text" menu item. -->
    <add key="TextViewer" value="C:\Windows\System32\Notepad.exe" />
    <!-- Choose the program associated with the "View as Binary" menu item. -->
    <add key="BinaryViewer" value="" />
    <!-- Define the custom items at the bottom of the "Goto" menu. -->
    <add key="GotoFavorites" value="Windows Folder>C:\Windows>Ctrl+1|System Folder>C:\Windows\System32>Ctrl+2" />
    <!-- Define the custom items at the bottom of the "Tools" menu. -->
    <add key="CustomTools" value="&amp;Task Manager>TaskMgr.exe|&amp;Resource Monitor>ResMon.exe|Windows &amp;Settings>ms-settings:controlcenter|Control &amp;Panel (Legacy)>Control" />
  </appSettings>
</configuration>